services:
  - type: web
    name: video-encoder-bot
    runtime: docker
    region: oregon
    plan: free
    
    dockerfilePath: ./Dockerfile
    
    # Auto-deploy
    autoDeploy: true
    
    # Health check
    healthCheckPath: /health
    
    # Environment variables
    envVars:
      - key: API_ID
        sync: false
      
      - key: API_HASH
        sync: false
      
      - key: BOT_TOKEN
        sync: false
      
      - key: MONGO_URI
        sync: false
      
      - key: PORT
        value: 10000
